@import '~office-ui-fabric-react/dist/sass/_References.scss';

.container {
    border: 1px dotted blue;
    display: Grid;
    grid-auto-flow: column;  
    // grid-template-rows: 10px 74px 10px;

    .barContainer {
        // grid-area: 2;
        border: 1px solid green;
        display: grid;
        grid-template-columns: 38px 80%;
        // grid-template-rows: 74px 10px;
        grid-gap: 8px;
        padding: 0 5px;
        min-height: 72px;
        align-items: center;
    
        .circle {
            margin-left: 8px;
            display: inline-grid;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid black;
            background: white;
        
            .iconContainer {
                align-items: center;
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
            }
        }
        
        .textContainer{
            word-wrap: break-word;
            margin-right: 8px;
        }


    }
}
//  https://github.com/OfficeDev/hands-on-labs/blob/master/O3652/O3652-1%20Deep%20Dive%20in%20Office%20Outlook%20Add-ins/Completed%20Projects/Translator/TranslatorWeb/Content/sass/_Fabric.Color.Variables.scss

.past {
    color: $ms-color-success
}

.active {
    color: $ms-color-themePrimary
}

.futher {
    color: $ms-color-info
}


.colorLine {
    margin-top: -10px;
    height: 10px;
    width: 100%;
    background-color: grey;
}

.pastLine {
    background-color: $ms-color-success
}

.activeLine {
    background-color: $ms-color-themePrimary
}

.futherLine {
    background-color: $ms-color-info
}





