
.App {
  border: 1px solid red;
  display: Grid;
  grid-gap: 8px;
  grid-template-rows: auto auto auto;
  max-width: 700px;
  margin: auto;
}

.body {
  min-height: 500px;
}

.buttonContainer {
  display: Grid;
  grid-auto-flow: column;  
  grid-gap: 6px;
  border: 1px solid green;
  justify-self: right;
  align-self: center;
}

